// медиа запросы (адаптив)
@media screen and ( max-width: 1968px )

  .header
    &-button
      display: none
  .burger
    display: none
@media screen and ( max-width: 768px )

  .container
    max-width: 728px
  .burger
    background-image: url('/assets/img/menu-mobile.png')
    background-repeat: no-repeat
    background-size: cover
    display: block
    &-menu
      position: fixed
      top: 0px
      right: 0
      left: 100%
      bottom: 0
      transition: left .3s
      &.open
        left: 50%
        & .burger-mobile-list
          &__item
            &:nth-child(3)
              & .burger-mobile-list__link
                color: $active
            &:nth-child(2)
              font-style: italic

    // &-img
    //   position: absolute  бред ебаной кобылы
    //   max-width: 100%
    &-mobile
      &-list
        position: relative
        display: flex
        flex-direction: column
        justify-content: space-evenly
        height: 201px
        padding-left: 62px
        padding-top: 92px
        &__item
          padding-bottom: 15px
        &__link
          font-family: $manrope
          font-size: 16px
          font-weight: $medium
          color: $white

  .header
    &-menu
      display: none
    &__logo
      max-width: 80px
      max-height: 65px
    &-contacts
      display: flex
      &__link
        font-size: 16px
        font-family: $manropeBold
      &__img
        width: 30px
        height: 30px
    &-button
      display: flex
      flex-direction: column
      justify-content: space-around
      width: 30px
      height: 30px
      background: transparent
      border: none
      cursor: pointer
      &__line
        width: 20px
        height: 2px
        background-color: #ffffff
        border-radius: 10px
        transition: all .3s
        &:last-child
          width: 14px
      &.open
        position: absolute
        right: 6%
        z-index: 1
        & .header-button__line
          &:nth-child(1)
            transform: rotate(45deg) translate(5px, 6px)
          &:nth-child(2)
            display: none
          &:nth-child(3)
            width: 20px
            transform: rotate(135deg) translate(-4px, 5px)

@media screen and ( max-width: 360px )

  .container
    max-width: 320px
  .header
    &__logo
      width: 70px
      height: 58px
    &-contacts
      display: flex
      &__link
        font-size: 14px
        font-family: $manropeBold
        margin-left: 0
        margin-right: 0
      &__img
        display: none
