@font-face {
  font-family: "Manrope-Bold";
  src: url("../fonts/Manrope-Bold.woff2") format("woff2"), url("../fonts/Manrope-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Manrope-Medium";
  src: url("../fonts/Manrope-Medium.woff2") format("woff2"), url("../fonts/Manrope-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
* {
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1447px;
  margin: auto;
}

.header {
  background-color: #323030;
  padding: 54px 0;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-menu-list {
  display: flex;
  align-items: center;
}
.header-menu-list__item {
  margin-right: 15px;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #f2f2f2;
}
.header-menu-list__item:last-child {
  margin-right: 0;
}
.header-menu-list__item:last-child a {
  color: #e79c2b;
}
.header-menu-list__link {
  font-family: "Manrope-Medium", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #f2f2f2;
}
.header-contacts {
  display: flex;
  align-items: center;
}
.header-contacts__link {
  margin-right: 15px;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 18px;
  font-weight: 800;
  color: #f2f2f2;
}
.header-contacts__link:last-child {
  margin-right: 0;
}

@media screen and (max-width: 1968px) {
  .header-button {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 728px;
  }
  .header-menu {
    display: none;
  }
  .header__logo {
    max-width: 80px;
    max-height: 65px;
  }
  .header-contacts {
    display: flex;
  }
  .header-contacts__link {
    font-size: 16px;
    font-family: "Manrope-Bold", sans-serif;
  }
  .header-contacts__img {
    width: 30px;
  }
  .header-button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
  }
  .header-button__line {
    width: 20px;
    height: 2px;
    background-color: #ffffff;
  }
  .header-button__line:last-child {
    width: 14px;
  }
}
@media screen and (max-width: 360px) {
  .container {
    max-width: 320px;
  }
  .header__logo {
    width: 70px;
    height: 58px;
  }
  .header-contacts {
    display: flex;
  }
  .header-contacts__link {
    font-size: 14px;
    font-family: "Manrope-Bold", sans-serif;
    margin-left: 0;
    margin-right: 0;
  }
  .header-contacts__img {
    display: none;
  }
}