@font-face {
  font-family: "Manrope-Bold";
  src: url("../fonts/Manrope-Bold.woff2") format("woff2"), url("../fonts/Manrope-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Manrope-Medium";
  src: url("../fonts/Manrope-Medium.woff2") format("woff2"), url("../fonts/Manrope-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
* {
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

p, span {
  line-height: 1.3;
}

.container {
  max-width: 1447px;
  margin: auto;
}

.btn {
  padding: 13px 30px;
  background-color: #e79c2b;
  color: #f2f2f2;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 18px;
  line-height: 1.3;
  border-radius: 15px;
  cursor: pointer;
  outline: none;
  border: none;
}

section {
  padding: 10% 0;
}

.title {
  font-size: 47px;
}

.header {
  background-color: #323030;
  padding: 54px 0;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-menu-list {
  display: flex;
  align-items: center;
}
.header-menu-list__item {
  margin-right: 15px;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #f2f2f2;
}
.header-menu-list__item:last-child {
  margin-right: 0;
}
.header-menu-list__item:last-child a {
  color: #e79c2b;
}
.header-menu-list__link {
  font-family: "Manrope-Medium", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #f2f2f2;
}
.header-contacts {
  display: flex;
  align-items: center;
}
.header-contacts__link {
  margin-right: 15px;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 18px;
  font-weight: 800;
  color: #f2f2f2;
}
.header-contacts__link:last-child {
  margin-right: 0;
}

.hero {
  background-color: #323030;
  position: relative;
  padding-bottom: 94px;
  padding-top: 200px;
}
.hero-left {
  max-width: 1120px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 1;
  position: relative;
}
.hero-left__btn {
  z-index: 2;
  scroll-behavior: smooth;
}
.hero-left__title {
  position: relative;
  font-family: "Raleway-Bold", sans-serif;
  font-size: 70px;
  line-height: 0.88;
  color: #f2f2f2;
  margin-bottom: 30px;
  z-index: 2;
}
.hero-left__title::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  max-width: 1367px;
  width: 100%;
  height: 483px;
  background: #1E1D1D;
  border-radius: 1229px;
  opacity: 0.4;
  z-index: -1;
  filter: blur(47.9201049805px);
}
.hero-left__title span {
  color: #e79c2b;
}
.hero-left__subtitle {
  font-family: "Manrope-Medium", sans-serif;
  font-size: 18px;
  line-height: 1.3;
  color: #f2f2f2;
  margin-bottom: 30px;
  z-index: 2;
}
.hero-left .hero-advantages__item {
  display: flex;
  align-items: center;
  z-index: 2;
}
.hero-advantages {
  margin-top: 90px;
  z-index: 2;
}
.hero-advantages__text {
  font-family: "Manrope-Medium", sans-serif;
  font-size: 18px;
  line-height: 1.3;
  color: #f2f2f2;
  margin-left: 15px;
}
.hero-advantages__item {
  margin-bottom: 12px;
}
.hero-right {
  position: absolute;
  top: 0;
  right: 0;
  bottom: -60px;
  width: 1100px;
  height: auto;
  background-image: url("../img/hero-bgc.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 0;
}
.hero-right::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 140px;
  opacity: 0.6;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.41) 34.9%, #000 100%);
}
.hero-right::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 330px;
  opacity: 0.6;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.41) 34.9%, #000 100%);
}
.hero-right-wrapper {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-evenly;
}
.hero-right-wrapper--mobile {
  display: none;
}
.hero-right-wrapper .hero-advantages__item {
  position: relative;
}
.hero-right-wrapper .hero-advantages__item:before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  height: 13px;
  width: 3px;
  background-color: #e79c2b;
}
.hero-mobile {
  display: none;
}
.hero-mobile .hero-advantages__item {
  position: relative;
}
.hero-mobile .hero-advantages__item:before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  height: 13px;
  width: 3px;
  background-color: #e79c2b;
}

.about-wrapper {
  display: flex;
}
.about__image {
  max-width: 710px;
  max-height: 435px;
  margin-right: 132px;
}
.about__title {
  font-family: "Raleway-Bold", sans-serif;
  font-weight: Bold;
  font-size: 47px;
  line-height: 125%;
}
.about__text {
  font-family: "Manrope-Medium", sans-serif;
  font-size: 18px;
  line-height: 130%;
  margin-top: 30px;
}

.cases {
  background-color: #323030;
}
.cases-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 60px;
}
.cases-container--full {
  min-width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  gap: 24px;
}
.cases__title {
  font-family: "Raleway-Bold", sans-serif;
  font-size: 47px;
  line-height: 1.25;
  color: #f2f2f2;
}
.cases-categories__category {
  font-family: "Manrope-Bold", sans-serif;
  font-size: 20px;
  color: #f2f2f2;
  text-transform: uppercase;
  margin-right: 15px;
}
.cases-categories__category:last-child {
  margin-right: unset;
}
.cases-categories__category--active {
  position: relative;
  color: #e79c2b;
}
.cases-categories__category--active::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #e79c2b;
  height: 1px;
}
.cases-card {
  position: relative;
}
.cases-card__img {
  width: 100%;
  height: 100%;
}
.cases-card:nth-child(1) {
  grid-column: 1/3;
  grid-row: 1/3;
}
.cases-card:nth-child(2) {
  grid-column: 3/4;
  grid-row: 1/2;
}
.cases-card:nth-child(3) {
  grid-column: 3/4;
  grid-row: 2/3;
}
.cases-card:nth-child(4) {
  grid-column: 4/6;
  grid-row: 1/3;
}
.cases-card:nth-child(2) .cases-card__title, .cases-card:nth-child(3) .cases-card__title {
  font-size: 18px;
}
.cases-card:nth-child(2) .cases-card-info, .cases-card:nth-child(3) .cases-card-info {
  flex-direction: column;
}
.cases-card:nth-child(2) .cases-card-info__icon, .cases-card:nth-child(3) .cases-card-info__icon {
  width: 18px;
}
.cases-card:nth-child(2) .cases-card-info__text, .cases-card:nth-child(3) .cases-card-info__text {
  font-size: 12px;
}
.cases-card:nth-child(2) .cases-card-hover, .cases-card:nth-child(3) .cases-card-hover {
  padding: 15px;
}
.cases-card-hover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
  padding: 30px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.41) 34.9%, #000 100%);
  opacity: 0;
  transition: opacity 0.3s;
}
.cases-card-hover:hover {
  opacity: 1;
}
.cases-card__title {
  font-family: "Manrope-Bold", sans-serif;
  font-size: 20px;
  line-height: 1.4;
  color: #f2f2f2;
  margin-bottom: 11px;
  text-transform: uppercase;
}
.cases-card-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.cases-card-info-wrapper {
  display: flex;
  align-items: center;
}
.cases-card-info__text {
  font-family: "Manrope-Medium", sans-serif;
  font-size: 18px;
  color: #f2f2f2;
  margin-left: 10px;
}
.cases-btn {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #e79c2b;
  border: 1px solid #e79c2b;
  margin: 30px auto 0;
}
.cases-btn img {
  margin-left: 12px;
}

.advantages {
  background-image: url(/assets/img/advantages.png);
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}
.advantages__title {
  font-family: "Raleway-Bold", sans-serif;
  font-size: 47px;
  line-height: 1.25;
  color: #f2f2f2;
  margin-bottom: 60px;
}
.advantages-card {
  background: rgba(0, 0, 0, 0.5);
  flex-basis: 48%;
  padding: 30px 91px 30px 30px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}
.advantages-card__title {
  font-family: "Manrope-Bold", sans-serif;
  font-size: 20px;
  color: #e79c2b;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.advantages-card__text {
  font-family: "Manrope-Medium", sans-serif;
  font-size: 18px;
  color: #f2f2f2;
}
.advantages-box {
  display: flex;
  flex-wrap: wrap;
  gap: 23px;
}

.features {
  max-width: 100%;
}
.features__title {
  font-family: "Raleway-Bold", sans-serif;
  font-size: 47px;
  line-height: 1.25;
  color: #323030;
  margin-bottom: 30px;
}
.features__text {
  font-family: "Manrope-Medium", sans-serif;
  font-size: 18px;
  color: #323030;
}
.features-container--full {
  background: url(../img/features-bgc.png) lightgray 50%;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  margin-top: 60px;
  border-radius: 400px 0 0 400px;
}
.features-wrapper {
  display: flex;
  align-items: center;
}
.features-wrapper__img {
  margin-right: 10%;
}
.features-box {
  counter-reset: numbers;
}
.features-item {
  margin-bottom: 30px;
  max-width: 605px;
  position: relative;
  padding-left: 36px;
}
.features-item::after {
  color: #e79c2b;
  counter-increment: numbers;
  content: counter(numbers) ".";
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  top: 0px;
  font-size: 33px;
  font-family: "Manrope-Bold";
  line-height: 1.2;
}
.features-item__text {
  font-family: "Raleway-Bold", sans-serif;
  font-size: 33px;
  line-height: 1.2;
  color: #f2f2f2;
  margin-bottom: 5px;
}
.features-item__link {
  font-family: "Manrope-Medium", sans-serif;
  font-size: 18px;
  color: #f2f2f2;
}

.technology {
  padding-top: unset;
}
.technology-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(auto, 50%));
  grid-template-rows: repeat(3, minmax(min-content, auto));
  grid-column-gap: 130px;
}
.technology__img {
  display: none;
  grid-column: 1/2;
  grid-row: 1/3;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.technology__img.active {
  display: block;
}
.technology-description {
  grid-column: 2/3;
  grid-row: 1/2;
}
.technology-description__title {
  font-family: "Raleway-Bold", sans-serif;
  font-size: 28px;
  color: #323030;
  line-height: 1.25;
  margin-bottom: 30px;
}
.technology-description__text {
  font-family: "Manrope-Medium", sans-serif;
  font-size: 16px;
  color: #323030;
  line-height: 1.25;
}
.technology-right {
  max-width: 606px;
  grid-column: 2/3;
  grid-row: 2/3;
}
.technology-card {
  margin-top: 60px;
}
.technology-box {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: 30px;
  cursor: pointer;
}
.technology-box svg path {
  transition: fill 0.3s;
}
.technology-box:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: -15px;
  border-bottom: 1px solid #434242;
}
.technology-box__title {
  font-family: "Manrope-Bold", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  transition: color 0.3s;
}
.technology-box.active .technology-box__title {
  color: #e79c2b;
}
.technology-box.active svg path {
  fill: #e79c2b;
}

.discover {
  background-image: url(/assets/img/contacts.jpg);
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
}
.discover-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.discover-left {
  flex-basis: 50%;
}
.discover-left__title {
  font-family: "Raleway-Bold", sans-serif;
  font-size: 33px;
  line-height: 1.2;
  color: #f2f2f2;
  margin-bottom: 30px;
}
.discover-left__text {
  font-family: "Manrope-Medium", sans-serif;
  font-size: 18px;
  color: #f2f2f2;
}
.discover-left__text:last-child {
  margin-top: 30px;
}
.discover-form {
  display: flex;
  flex-direction: column;
  padding: 60px;
  background-color: #fff;
}
.discover-form__title {
  font-family: "Raleway-Bold", sans-serif;
  font-size: 33px;
  line-height: 1.2;
  color: #434242;
}
.discover-form-input {
  display: flex;
  flex-direction: column;
  margin: 40px 0;
}
.discover-form-input__text {
  font-family: "Manrope-Medium", sans-serif;
  font-size: 12px;
  line-height: 1.2;
  height: 50px;
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(158, 156, 156, 0.5);
  color: #434242;
}
.discover-form-input__text:nth-child(2) {
  margin-top: 5px;
  margin-bottom: 5px;
}
.discover-form-input__text::placeholder {
  color: #9E9C9C;
  font-family: "Manrope-Medium", sans-serif;
}
.discover-form__btn {
  margin-bottom: 22px;
}
.discover-form__config {
  font-family: "Manrope-Medium", sans-serif;
  font-size: 12px;
  line-height: 1.2;
  color: #aaaaaa;
  text-align: center;
}

.projects {
  background-color: #323030;
}
.projects-container {
  margin-bottom: 60px;
}
.projects-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.projects-top__title {
  font-family: "Raleway-Bold", sans-serif;
  font-size: 47px;
  line-height: 1.25;
  color: #f2f2f2;
}
.projects__text {
  font-family: "Manrope-Medium", sans-serif;
  font-size: 18px;
  line-height: 1.25;
  color: #f2f2f2;
}
.projects-categories__category {
  font-family: "Manrope-Bold", sans-serif;
  font-size: 20px;
  color: #f2f2f2;
  text-transform: uppercase;
  margin-right: 15px;
}
.projects-categories__category:last-child {
  margin-right: unset;
}
.projects-categories__category--active {
  position: relative;
  color: #e79c2b;
}
.projects-categories__category--active::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #e79c2b;
  height: 1px;
}
.projects-cards {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}
.projects-card {
  background-color: #fff;
  padding: 40px;
}
.projects-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 68px;
}
.projects-wrapper__title {
  font-family: "Manrope-Bold", sans-serif;
  font-size: 20px;
  line-height: 1.4;
  color: #434242;
  margin-bottom: 11px;
  text-transform: uppercase;
}
.projects-wrapper-info {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 20px;
}
.projects-wrapper-info__price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.projects-wrapper-info__text {
  font-family: "Manrope-Medium", sans-serif;
  font-size: 18px;
  margin-left: 10px;
  color: #434242;
}
.projects-btn {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #e79c2b;
  border: 1px solid #e79c2b;
  margin: 30px auto 0;
}
.projects-btn img {
  margin-left: 12px;
}

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 95vw;
  height: 95vh;
  background-color: #ffffff;
  z-index: 2;
  padding: 80px 50px;
  transform: translate(-50%, -50%);
}
.modal.open {
  display: block;
}
.modal-wrapper {
  display: flex;
  justify-content: space-between;
}
.modal-right {
  flex-basis: 30%;
}
.modal-right__title {
  font-family: "Raleway-Bold", sans-serif;
  font-size: 34px;
  line-height: 1.2;
  margin-bottom: 26px;
}
.modal-list {
  display: flex;
  align-items: center;
}
.modal-list:nth-child(3) {
  margin-left: 28px;
}
.modal-list__svg {
  width: 30px;
  height: 30px;
}
.modal-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-left: 20px;
}
.modal-item__count {
  font-family: "Manrope-Bold", sans-serif;
  font-size: 20px;
  line-height: 1.5;
}
.modal-item__text {
  font-family: "Manrope-Medium", sans-serif;
  font-size: 18px;
  color: #9E9C9C;
}
.modal-btn {
  background-color: #fff;
  color: #e79c2b;
  border: 1px solid #e79c2b;
  width: 100%;
  margin-top: 26px;
}
.modal-info {
  flex-basis: 30%;
  overflow: auto;
  max-height: 323px;
  scrollbar-color: #D9D9D9 #ffffff;
  scrollbar-width: thin;
  scrollbar-gutter: stable;
}
.modal-info__text {
  font-family: "Manrope-Medium", sans-serif;
  font-size: 18px;
  color: #9E9C9C;
  margin-bottom: 30px;
}
.modal-closeBtn {
  position: absolute;
  top: 50px;
  right: 20px;
  bottom: 0;
  cursor: pointer;
}

.work {
  background-color: #323030;
  counter-reset: my-counter;
}
.work__title {
  font-family: "Raleway-Bold", sans-serif;
  font-size: 47px;
  color: #f2f2f2;
  margin-bottom: 60px;
}
.work-info {
  display: flex;
  justify-content: space-between;
  background-color: #070707;
  align-items: center;
  border-top-right-radius: 200px;
  border-bottom-right-radius: 200px;
  padding: 85px 85px 85px 0;
  width: 98%;
  height: 400px;
}
.work-info__img {
  height: 400px;
  width: 60%;
  object-fit: cover;
  border-top-right-radius: 200px;
  border-bottom-right-radius: 200px;
}
.work-info-group {
  flex-basis: 35%;
  list-style-type: none;
}
.work-info-group__text {
  margin-bottom: 2em;
}
.work-info-group__text::before {
  content: counter(my-counter) ".";
  counter-increment: my-counter;
  margin-right: 1em;
  color: #e79c2b;
  font-family: "Raleway-Bold", sans-serif;
  font-size: 33px;
  line-height: 1.2;
}
.work-info-group__text {
  font-family: "Manrope-Medium", sans-serif;
  font-size: 18px;
  color: #f2f2f2;
}

@media screen and (min-width: 768px) {
  .header-burger {
    display: none;
  }
  .menu-mobile {
    display: none;
  }
}
@media screen and (max-width: 1447px) {
  .container {
    max-width: 1095px;
  }
  .about__image {
    max-width: 650px;
    max-height: 500px;
    margin-right: 40px;
  }
  .about__text {
    margin-top: 20px;
  }
  .features-container {
    max-width: unset;
  }
  .features-wrapper__img {
    margin-right: unset;
  }
  .features-box {
    margin-left: 10%;
  }
  .features-item {
    width: unset;
  }
  .features-item__text {
    font-size: 28px;
  }
  .features-item__link {
    font-size: 20px;
  }
  .technology-wrapper__img {
    width: 50%;
    object-fit: cover;
  }
  .technology-wrapper-right {
    width: 40%;
  }
  .advantages-box {
    justify-content: space-between;
  }
}
@media screen and (max-width: 1100px) {
  .container {
    max-width: 840px;
  }
  .header__logo {
    max-width: 70px;
    max-height: 55px;
  }
  .header-contacts {
    display: flex;
  }
  .header-contacts__link {
    font-size: 16px;
    font-family: "Manrope-Bold", sans-serif;
  }
  .header-contacts__img {
    max-width: 25px;
  }
  .header-menu-list__link {
    font-size: 16px;
  }
  .hero-right {
    width: 70%;
  }
  .hero-right-wrapper {
    display: none;
  }
  .hero-left__title {
    font-size: 50px;
  }
  .hero-left__subtitle {
    font-size: 16px;
  }
  .hero-advantages__text {
    font-size: 16px;
  }
  .hero-mobile {
    display: block;
    padding-top: 100px;
  }
  .hero-mobile .hero-advantages__text {
    color: #323030;
  }
  .hero-mobile-container {
    display: flex;
    justify-content: space-between;
  }
  .btn {
    font-size: 16px;
  }
  .about {
    padding-top: 60px;
  }
  .about__image {
    max-width: 355px;
    max-height: 440px;
    object-fit: cover;
  }
  .about__text {
    margin-top: 10px;
  }
  .cases__title {
    font-size: 32px;
  }
  .cases-categories__category {
    font-size: 18px;
  }
  .cases-container--full {
    gap: 15px;
  }
  .cases-card:nth-child(2) .cases-card__title, .cases-card:nth-child(3) .cases-card__title {
    font-size: 16px;
  }
  .cases-card:nth-child(2) .cases-card-hover, .cases-card:nth-child(3) .cases-card-hover {
    padding: 10px;
  }
  .advantages__title {
    font-size: 42px;
  }
  .advantages-card {
    flex-basis: 48%;
  }
  .advantages-card__title {
    font-size: 20px;
  }
  .advantages-card__text {
    font-size: 16px;
  }
  .features-wrapper__img {
    width: 50%;
  }
  .features-item::after {
    font-size: 26px;
  }
  .features-item__text {
    font-size: 20px;
  }
  .features-item__link {
    font-size: 16px;
  }
  .technology-container {
    grid-column-gap: 5%;
  }
  .discover-left {
    flex-basis: 45%;
  }
  .discover-form {
    flex-basis: 45%;
  }
}
@media screen and (max-width: 845px) {
  .container {
    max-width: 760px;
  }
  .header__logo {
    max-width: 60px;
    max-height: 45px;
  }
  .header-contacts {
    display: flex;
  }
  .header-contacts__link {
    font-size: 12px;
    font-family: "Manrope-Bold", sans-serif;
  }
  .header-contacts__img {
    max-width: 20px;
  }
  .header-menu-list__link {
    font-size: 14px;
  }
  .hero-left__title {
    font-size: 38px;
  }
  .about__title {
    font-size: 32px;
  }
  .about__text {
    font-size: 16px;
  }
  .cases-container--full {
    grid-template-columns: repeat(3, 1fr);
  }
  .cases-card--four {
    display: none;
  }
  .features-container--full {
    border-radius: 0 0 400px 400px;
  }
  .features-wrapper {
    padding-top: 60px;
    flex-direction: column-reverse;
  }
  .technology-container {
    grid-column-gap: 20px;
  }
  .technology__img {
    grid-row: 2/3;
    grid-column: 1/2;
    margin-top: 30px;
  }
  .technology-description {
    grid-column: 1/3;
  }
  .technology-card {
    margin-top: unset;
  }
  .discover-left__title {
    font-size: 32px;
  }
  .discover-left__text {
    font-size: 16px;
  }
  .discover-form {
    padding: 30px;
  }
  .discover-form__title {
    font-size: 26px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 92%;
  }
  .menu-mobile {
    padding-left: 62px;
    padding-top: 92px;
    background-size: cover;
    display: block;
    position: fixed;
    top: -15px;
    right: 0;
    left: 100%;
    bottom: 0;
    transition: 0.3s;
    transition: 0.3s;
    background-image: url("/assets/img/menu-mobile.png");
    background-repeat: no-repeat;
  }
  .menu-mobile.open {
    left: 50%;
    z-index: 3;
  }
  .menu-mobile.open .menu-mobile-list__item:nth-child(3) .menu-mobile-list__link {
    color: #e79c2b;
  }
  .menu-mobile.open .menu-mobile-list__item:nth-child(3):nth-child(2) {
    font-style: italic;
  }
  .menu-mobile-wrapper {
    position: relative;
    width: 100%;
  }
  .menu-mobile-close {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: -55px;
  }
  .menu-mobile-close .menu-mobile-close__line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 6px);
  }
  .menu-mobile-close .menu-mobile-close__line:nth-child(1):nth-child(2) {
    display: none;
  }
  .menu-mobile-close .menu-mobile-close__line:nth-child(1):nth-child(3) {
    width: 20px;
    transform: rotate(135deg) translate(-4px, 5px);
  }
  .menu-mobile-close__line {
    width: 20px;
    height: 2px;
    background-color: #ffffff;
    border-radius: 10px;
  }
  .menu-mobile-close__line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 6px);
  }
  .menu-mobile-close__line:nth-child(2) {
    width: 20px;
    transform: rotate(135deg) translate(-4px, 5px);
  }
  .menu-mobile-list {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .menu-mobile-list__item {
    padding-bottom: 15px;
  }
  .menu-mobile-list__link {
    font-family: "Manrope-Medium", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #f2f2f2;
  }
  .header-menu {
    display: none;
  }
  .header__logo {
    max-width: 80px;
    max-height: 65px;
  }
  .header-contacts {
    display: flex;
  }
  .header-contacts__link {
    font-size: 16px;
    font-family: "Manrope-Bold", sans-serif;
  }
  .header-contacts__img {
    width: 30px;
    height: 30px;
  }
  .header-burger {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
  }
  .header-burger__line {
    width: 20px;
    height: 2px;
    background-color: #ffffff;
    border-radius: 10px;
    transition: all 0.3s;
  }
  .header-burger__line:last-child {
    width: 14px;
  }
  .about-wrapper {
    flex-direction: column;
  }
  .about__image {
    min-width: 100%;
  }
  .about-description {
    margin-top: 30px;
    width: 92%;
    margin-left: 15px;
  }
  .about__text {
    margin-top: 15px;
  }
  .cases {
    padding: 90px 0;
  }
  .cases__title {
    font-size: 22px;
    margin-bottom: 15px;
  }
  .cases-categories__category {
    font-size: 12px;
    margin-right: 10px;
  }
  .advantages-card {
    padding: 25px 50px 25px 25px;
  }
  .features-wrapper {
    flex-direction: column-reverse;
    align-content: center;
  }
  .features__title {
    font-size: 24px;
  }
  .features__text {
    font-size: 14px;
  }
  .features-item::after {
    font-size: 20px;
    left: 0;
  }
  .features-item__text {
    font-size: 16px;
  }
  .features-item__link {
    font-size: 14px;
  }
  .title {
    font-size: 28px;
  }
  .technology__img {
    grid-column: 1/3;
    grid-row: 3/3;
  }
  .technology-right {
    grid-column: 1/3;
    max-width: unset;
  }
  .technology-card {
    margin-bottom: 10%;
  }
  .discover {
    background-position: center;
  }
  .discover-container {
    flex-direction: column;
  }
  .discover-left {
    margin-bottom: 60px;
  }
  .discover-left__title {
    font-size: 18px;
  }
  .discover-left__text {
    font-size: 14px;
  }
  .discover-form__title {
    font-size: 18px;
  }
  .discover-form__text {
    font-size: 12px;
  }
}
@media screen and (max-width: 675px) {
  .container {
    max-width: 92%;
    height: 100%;
  }
  .header {
    padding: 25px 0;
  }
  .menu-mobile {
    padding-left: 25px;
  }
  .menu-mobile-close {
    right: 0px;
  }
  .menu-mobile.open {
    left: 0;
  }
  .menu-mobile-list {
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
  }
  .hero {
    height: calc(100vh - 177px);
    padding-top: 20px;
  }
  .hero-left {
    height: 95%;
    justify-content: space-evenly;
  }
  .hero-left__title {
    font-size: 30px;
  }
  .hero-advantages {
    margin-top: 0;
  }
  .hero-advantages__text {
    font-size: 14px;
  }
  .hero-right {
    top: unset;
    bottom: 0;
    width: 100%;
    max-width: 100%;
    height: 300px;
  }
  .hero-right:before {
    transform: rotate(180deg);
    bottom: unset;
    top: 0;
  }
  .hero-right:after {
    transform: rotate(180deg);
    bottom: unset;
    top: 0;
  }
  .hero-mobile {
    padding: 60px 0;
  }
  .hero-mobile-container {
    flex-direction: column;
  }
  .about__text {
    font-size: 14px;
  }
  .cases__title {
    font-size: 22px;
  }
  .cases-categories__category {
    font-size: 12px;
  }
  .cases-container--full {
    gap: 10px;
  }
  .advantages {
    background-size: cover;
  }
  .advantages-card {
    flex-basis: 100%;
  }
  .advantages-card__title {
    margin-bottom: 10px;
  }
  .advantages-box {
    gap: unset;
  }
  .technology-description__title {
    font-size: 24px;
  }
  .technology-box__title {
    font-size: 16px;
  }
  .title {
    font-size: 22px;
  }
  .projects__text {
    font-size: 14px;
  }
  .projects-top {
    flex-direction: column;
    align-items: flex-start;
  }
  .projects-top__title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .projects-categories__category {
    font-size: 14px;
  }
  .projects-cards {
    justify-content: unset;
    gap: 20px;
  }
  .projects-card {
    padding: 10px;
    flex-basis: 47%;
  }
  .projects-card__img {
    width: 90%;
    height: 76px;
  }
  .projects-wrapper {
    margin-top: unset;
  }
  .projects-wrapper-info {
    display: none;
  }
  .projects-wrapper__title {
    font-size: 14px;
    margin-top: 15px;
  }
  .btn.modalOpen {
    padding: 9px 30px;
    margin-top: 10px;
  }
}
@media screen and (max-width: 360px) {
  .header__logo {
    width: 70px;
    height: 58px;
  }
  .header-contacts {
    display: flex;
  }
  .header-contacts__link {
    font-size: 14px;
    font-family: "Manrope-Bold", sans-serif;
    margin-left: 0;
    margin-right: 0;
  }
  .header-contacts__img {
    display: none;
  }
  .hero {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .hero-left__title {
    font-size: 25px;
  }
  .hero-left__subtitle {
    font-size: 14px;
  }
  .hero-right {
    width: 360px;
    height: 300px;
  }
  .title {
    font-size: 18px;
  }
  .features-box {
    width: 90%;
    margin: auto;
  }
  .advantages-card__title {
    font-size: 16px;
  }
  .advantages-card__text {
    font-size: 14px;
  }
  .technology-description__text {
    font-size: 14px;
  }
  .technology-box__title {
    font-size: 12px;
  }
  .projects-cards {
    gap: 10px;
  }
  .projects-card {
    padding: 5px;
  }
  .btn {
    font-size: 14px;
  }
  .btn.modalOpen {
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
  }
}