.features
  &__title
    font-family: $ralewayBold
    font-size: 47px
    line-height: 1.25
    color: $dark
    margin-bottom: 30px
  &__text
    font-family: $manrope
    font-size: 18px
    color: $dark
  &-container
    & .features
      &-container
        &--full
          background-image: url(../img/features-bgc.png)
          background-repeat: no-repeat
          background-size: cover
          object-fit: scale-down
          margin-top: 60px
  &-wrapper
    display: flex
    align-items: center
  &-box
    margin-left: 158px
    counter-reset: numbers
  &-item
    margin-bottom: 30px
    max-width: 605px
    position: relative
    &::after
      color: $active
      counter-increment: numbers
      content: counter(numbers)
      position: absolute
      right: 0px
      left: -40px
      bottom: 0px
      top: 0px
      font-size: 33px
      font-family: 'Manrope-Bold'
      line-height: 1.2
    &__text
      font-family: $ralewayBold
      font-size: 33px
      line-height: 1.2
      color: $white
      margin-bottom: 5px
    &__link
      font-family: $manrope
      font-size: 18px
      color: $white
